{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Sobre {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Sobre</h1>
                <p>Este projeto consiste em desenvolver um webservice e uma interface de acordo com documento fornecido.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}