{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Sobre {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Contato</h1>
                <address>
                    <strong>Renato Pacheco Vieira</strong> (92) 992165569
                </address>
            </div>
        </div>
    </div>
</div>
{% endblock %}