{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Walmart Test {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Enviar um mapa</div>
                <div class="panel-body">
                    {% load crispy_forms_tags %}
                    {% crispy map_form %}
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">Mapas Existentes</div>
                <div>
                    <ul>
                    {% for map in maps %}
                        <li>{{ map }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Consultar Frete</div>
                <div class="panel-body">
                    {% load crispy_forms_tags %}
                    {% crispy search_cost_form %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}