{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Sucesso {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Sucesso</h1>
                <p>Seu mapa foi inserido com sucesso!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
