{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Custo {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Custo total: {{ cost }}</h1>
                <p>Caminho a ser realizado: {{ path }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
